<template>
  <div>
    <div class="col-12 py-3">
      <span>
        <h5>{{$t('CREDENTIAL.TITLE')}}</h5>
        <p>{{credential.credentialSubject?.title}}</p>
      </span>
    </div>
    <div class="col-12 py-3">
      <span>
         <h5>{{$t('CREDENTIAL.ID')}}</h5>
         <p>{{credential?.id}}</p>
      </span>
    </div>
    <div class="col-12 py-3">
      <span>
        <h5>{{$t('CREDENTIAL.ISSUER')}}</h5>
        <p class="text-truncate">{{credential?.issuerName ? credential?.issuerName : credential?.issuer}}</p>
      </span>
    </div>
    <div class="col-12 py-3">
      <span class="col-3">
        <h5>{{$t('CREDENTIAL.STATUS')}}</h5>
        <p>{{credential?.credentialStatus?.id ? 'Valid' : 'Invalid'}}</p>
      </span>
    </div>
    <div class="d-flex justify-content-between py-3 border-bottom mb-3 border-secondary">
      <span>
          <h5>{{$t('CREDENTIAL.ISSUED_ON')}}</h5>
          <p>{{moment(credential?.issuanceDate).format("MMM Do YYYY")}}</p>
      </span>
      <span>
          <h5>{{$t('CREDENTIAL.EXPIRE')}}</h5>
          <p>{{credential?.expirationDate ? moment(credential?.expirationDate).format("MMM Do YYYY") : "Never"}}</p>
      </span>
      <span>
          <h5>{{$t('CREDENTIAL.VALID_FROM')}}</h5>
          <p>{{moment(credential?.validFrom).format("MMM Do YYYY")}}</p>
      </span>
    </div>
  </div>
</template>

<script>
import moment from "moment";

export default {
  name: "CredentialHeader",
  props: {
    credential: {}
  },
  data() {
    return {
      moment: moment
    }
  }
}
</script>

<style scoped>

</style>
