<template>
  <div class="user-learning-outcome">
    <CredentialHeader :credential="credential"></CredentialHeader>
    <div class="user-learning-outcome-body">
      <div class="text-left">
        <div class="col-12 pb-3" v-if="credential.credentialSubject?.id">
          <h5 class="text-dark">{{ $t('CREDENTIAL.USER_ID') }}</h5>
          <p>{{ credential.credentialSubject.id }}</p>
        </div>
        <div v-if="credential.credentialSubject?.performed.length > 0">
          <div class="col-12 pb-5" v-for="activity in credential.credentialSubject.performed" :key="activity.title">
            <h5 class="text-dark">{{ $t('CREDENTIAL.LEARNING_ACTIVITY') }}</h5>
            <div class="ms-2">
              <h5 class="mt-2">{{ $t('CREDENTIAL.TITLE') }}</h5>
              <p>{{ activity?.title }}</p>
              <h5 class="mt-2">{{ $t('CREDENTIAL.STARTED_AT_TIME') }}</h5>
              <p>{{ moment(activity?.startedAtTime, 'DD-MM-YYYY HH:mm:ss').format('MMMM, DD, YYYY HH:mm:ss') }}</p>
              <h5 class="mt-2">{{ $t('CREDENTIAL.ENDED_AT_TIME') }}</h5>
              <p>{{ moment(activity?.endedAtTime, 'DD-MM-YYYY HH:mm:ss').format('MMMM, DD, YYYY HH:mm:ss') }}</p>
              <div v-if="activity?.specifiedBy?.teaches.length > 0">
                <h5 class="mt-2 text-dark">{{ $t('CREDENTIAL.LEARNING_ACTIVITY_SPECIFICATION') }}</h5>
                <div class="ms-2">
                  <h5 class="mt-2" v-for="learningOutcome in activity.specifiedBy.teaches" :key="learningOutcome.name">
                  <h5 class="mt-2">{{ $t('CREDENTIAL.LEARNING_OUTCOME') }}</h5>
                  <p>{{ learningOutcome?.learningOutcome?.name }}</p>
                  <div v-if="learningOutcome?.learningOutcome?.relatedESCOSkill">
                    <h5 class="mt-2">{{ $t('CREDENTIAL.RELATED_ESCO_SKILL') }}</h5>
                    <p>{{ learningOutcome?.learningOutcome?.relatedESCOSkill }}</p>
                  </div>
                </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import CredentialHeader from './CredentialHeader.vue'
import moment from 'moment'
export default defineComponent({
  name: 'UserLearningOutcome',

  components: { CredentialHeader },

  props: {
    credential : {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      moment: moment
    }
  }

})
</script>