<template>
    <div class="col-12" v-if="identifier">
        <h4 class="d-flex">{{ $t("CREDENTIAL.IDENTIFIER") }}</h4>
        <ItemValueComponent :title="$t('CREDENTIAL.SCHEME_ID')" :value="identifier.schemeID" class="py-1"/>
        <ItemValueComponent :title="$t('CREDENTIAL.VALUE')" :value="identifier.value" class="py-1"/>
    </div>
</template>

<script>
import moment from "moment";
import ItemValueComponent from './ItemValueComponent.vue';

export default {
  name: "IdentifierComponent",
  props: {
    identifier: {}
  },
  data() {
    return {
      moment: moment
    }
  },
  components: {
      ItemValueComponent
  }
}
</script>

<style scoped>

</style>