<template>
    <div class="col-12" v-if="value">
        <h5>{{ title }}</h5>
        <p>{{ value }}</p>
    </div>
</template>

<script>
import moment from "moment";

export default {
  name: "ItemValueComponent",
  props: {
    title: {
      type: String,
      default: null
    },
    value: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      moment: moment
    }
  },
}
</script>

<style scoped>

</style>