<template>
  <div class="col-12" v-if="items">
    <h5>{{ title }}</h5>
    <ul>
      <li v-for="value in items" v-bind:key="value">
        <div v-if="hasPart" class="py-2">
          <item-value-component :title="$t('CREDENTIAL.TITLE')" :value="value.title" class="py-2"/>
          <item-value-component :title="$t('CREDENTIAL.DEFINITION')" :value="value.definition" class="py-2"/>
          <item-value-component :title="$t('CREDENTIAL.GRADE')" :value="value.grade.toString()" class="py-2"/>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import moment from "moment";
import itemValueComponent from "./ItemValueComponent.vue";

export default {
  name: "LoopLiComponent",

  components: {
    itemValueComponent
  },

  props: {
    hasPart: {
      type: Boolean,
      default: false
    },
    items: {
      default: () => [],
      type: Array
    },
    title: {
      type: String,
      default: null
    }
  },

  data() {
    return {
      moment: moment
    }
  }
}
</script>
