<template>
    <span class="col-12 pb-3">
        <ItemValueComponent :title="$t('CREDENTIAL.TITLE')" :value="wasDerivedFrom.title" class="py-1"/>
        <ItemValueComponent :title="$t('CREDENTIAL.DEFINITION')" :value="wasDerivedFrom.definition" class="py-1"/>
        <ItemValueComponent :title="$t('CREDENTIAL.GRADE')" :value="wasDerivedFrom.grade" class="py-1"/>
        <LoopLiComponent v-if="wasDerivedFrom.assessedBy" :items="wasDerivedFrom.assessedBy" :title="$t('CREDENTIAL.ASSESSED_BY')" class="py-1"/>
        <LoopLiComponent :has-part="true" :items="wasDerivedFrom.hasPart" :title="$t('CREDENTIAL.HAS_PART')" class="py-1"/>
      <!-- TODO -->
        <!-- has part -->
        <!-- specified by -->
    </span>
</template>

<script>
import moment from "moment";
import LoopLiComponent from "./LoopLiComponent.vue";
import ItemValueComponent from "./ItemValueComponent.vue";

export default {
  name: "WasDerivedFromComponent",
  props: {
    wasDerivedFrom: {},
  },
  data() {
    return {
      moment: moment,
    };
  },
  components: {
    ItemValueComponent,
    LoopLiComponent,
  },
};
</script>

<style scoped>
</style>