/* Fonts*/

@import url("https://fonts.google.com/specimen/Poppins?query=poppins");

/*Colors and Shdows*/

$main-color: #24aae0;
$light-color: #e9efff;
$main-text: #292928;
$second-text: #575756;
$second-text-muted: #888888;
$ui-border-raduis: 25px;

/* Amimations */

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #4bb71b;
    }
}


/*For all*/

* {
    a {
        text-decoration: none !important;
    }
}


/* width */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #292928;
    height: 35px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

//Js classes
.hide {
    display: none !important;
    transition: 0.5s;
}

.bg-w {
    background-color: white;
}

.bg-g {
    transition: 0.2s;
    background-color: $main-color;
}

._border {
    border-color: $main-color !important;
}

//Body  stylesheet
body {
    overflow-x: hidden !important;
    padding: 0;
    margin: 0;
    ._notice {
        width: 100vw;
        position: fixed;
        padding: 5px 5px;
        img {
            width: 25px;
            margin-right: 10px;
        }
        p,
        strong {
            margin-bottom: 0;
        }
        a {
            cursor: pointer;
            i {
                color: white;
                font-size: 20px;
            }
        }
    }
    ._main {
        width: 100vw;
        height: 100vh;
        min-height: 700px;
        /* mountains night: background-image: url("https://images.unsplash.com/photo-1489183988443-b37b7e119ba6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2944&q=80");*/
        /* wall: background-image: url("https://images.pexels.com/photos/1227511/pexels-photo-1227511.jpeg?cs=srgb&dl=pexels-shonejai-1227511.jpg&fm=jpg");*/
        /* clouds: background-image: url("https://images.pexels.com/photos/531756/pexels-photo-531756.jpeg?cs=srgb&dl=pexels-pixabay-531756.jpg&fm=jpg");*/
        //background-image: url("https://images.unsplash.com/photo-1607499699372-7bb722dff7e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
        background-image: linear-gradient(0deg, rgba(0, 39, 81, 0.2), rgba(0, 39, 81, 1));
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        #widget {
            border-radius: $ui-border-raduis;
            height: 70vh;
            width: 27vw;
            min-height: 500px;
            margin-left: 50px;
            border: 1px solid white;
            padding: 0;
            h2 {
                font-size: 32px;
                color: $main-text;
                font-weight: 600;
                transition: 0.4s;
            }
            p {
                font-size: 16px;
                color: $main-text;
                font-weight: 400;
                transition: 0.4s;
            }
            form {
                overflow: hidden;
                input {
                    width: 70%;
                    height: 45px;
                    margin: 3px;
                    &:focus {
                        transition: 0.1s;
                        outline: 1.5px solid $main-color;
                    }
                }
                button {
                    background-color: $main-color;
                    width: 70%;
                    height: 45px;
                    font-size: 18px;
                    font-weight: 500;
                }
                a._meta-mask {
                    background-color: #F6851B !important;
                    width: 70%;
                    height: 45px;
                    p {
                        margin-bottom: 0;
                        font-size: 18px;
                        font-weight: 500;
                        color: white;
                    }
                }
                a {
                    font-size: 17px;
                    font-weight: 500;
                    color: $second-text-muted;
                }
            }
            a {
                cursor: pointer;
            }
            ._toggle-menu {
                height: 6vh;
                max-height: 6vh;
                min-height: 6vh;
                ._dash {
                    width: 35px;
                    height: 2px;
                    background-color: $second-text-muted;
                    transition: 0.4s;
                    cursor: pointer;
                }
                ._close-x {
                    transform: rotate(45deg);
                    transition: 0.4s;
                    background-color: white !important;
                }
                ._close-y {
                    margin-top: -10px !important;
                    transform: rotate(-45deg);
                    transition: 0.4s;
                    background-color: white !important;
                }
            }
            ._content {
                //margin-top: -71px;
                min-height: 58vh;
                height: 58vh;
                min-width: 27vw;
                ._scrollable {
                    overflow: auto;
                    overflow-x: hidden !important;
                    min-width: 25vw;
                    max-height: 45vh;
                    min-height: 275px;
                    margin: 12px 0;
                    //padding: 10px;
                    &::-webkit-scrollbar {
                        width: 5px;
                    }
                    &::-webkit-scrollbar-track {
                        background: $light-color;
                        border-radius: 5px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: $second-text-muted;
                        border-radius: 5px;
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background: $second-text;
                    }
                    ._card {
                        margin: 10px;
                        text-align: left;
                        width: 22vw;
                        min-height: 100px;
                        border: 2px solid $light-color;
                        padding: 15px;
                        border-radius: 15px;
                        h5 {
                            font-size: 16px;
                            color: $second-text;
                            margin-bottom: 0;
                            font-weight: 500;
                        }
                        p {
                            font-size: 14px;
                            font-style: italic;
                            color: $second-text;
                            margin-bottom: 0;
                        }
                        i._icon-active {
                            font-size: 22.5px;
                            color: $main-color;
                        }
                        i._icon-inactive {
                            font-size: 22.5px;
                            color: $second-text-muted;
                        }
                    }
                }
                ._search {
                    form {
                        input {
                            text-align: center;
                            background-color: $light-color;
                            border: 2px solid $light-color;
                            border-radius: 7px;
                            margin-bottom: 5px;
                        }
                        button {
                            height: 45px;
                            background-color: $main-color;
                            border: none;
                            font-size: 15px;
                            border-radius: 7px;
                            color: white;
                        }
                    }
                }
                ._container {
                    min-width: 25vw;
                    max-height: 45vh;
                    margin: 12px 0;
                    ._card {
                        margin: 10px;
                        text-align: left;
                        width: 22vw;
                        min-height: 175px;
                        border: 2px solid $light-color;
                        padding: 15px;
                        border-radius: 15px;
                        h5 {
                            font-size: 16px;
                            color: $second-text;
                            margin-bottom: 0;
                            font-weight: 500;
                        }
                        p {
                            font-size: 14px;
                            font-style: italic;
                            color: $second-text;
                            margin-bottom: 0;
                        }
                    }
                    ._button {
                        margin: 10px;
                        text-align: left;
                        width: 225px;
                        text-align: center;
                        button._share {
                            background-color: $main-color;
                            padding: 10px 0;
                            color: white;
                            font-size: 17px;
                            font-weight: 600;
                            border-radius: 7px;
                            border: none;
                        }
                        a._reject {
                            color: $second-text-muted;
                            text-align: center;
                            font-size: 17px;
                            font-weight: 600;
                            border-radius: 7px;
                        }
                    }
                }
                ._container-list {
                    margin: 0;
                    min-height: 150px;
                    width: 27vw;
                    ._window-content {
                        width: 24vw;
                        min-height: 25vh;
                        max-height: 25vh;
                        overflow: auto;
                        overflow-x: hidden !important;
                        border-radius: $ui-border-raduis;
                        border: 2px solid $light-color;
                        //padding: 10px;
                        &::-webkit-scrollbar {
                            width: 5px;
                            max-height: 100px;
                        }
                        &::-webkit-scrollbar-track {
                            background: $light-color;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: #ccc;
                            border-radius: 5px;
                            max-height: 50px;
                        }
                        &::-webkit-scrollbar-thumb:hover {
                            background: $second-text;
                        }
                        &::-webkit-scrollbar-button {
                            height: 30px;
                        }
                        ul {
                            margin-bottom: 0;
                            padding-left: 0;
                            width: 20vw;
                            li {
                                list-style: none;
                                text-align: left;
                                padding-bottom: 10px;
                                margin-bottom: 0;
                                p {
                                    margin-bottom: 0;
                                    font-size: 20px;
                                    font-style: italic;
                                    color: $second-text;
                                    font-weight: 400;
                                }
                                i {
                                    font-size: 20px;
                                    color: #ccc;
                                    &:hover {
                                        color: $second-text-muted;
                                        transition: 0.4s;
                                    }
                                }
                            }
                        }
                    }
                }
                ._btns {
                    margin: 10px;
                    text-align: left;
                    text-align: center;
                    button._share {
                        background-color: $main-color;
                        padding: 10px 0;
                        color: white;
                        font-size: 17px;
                        font-weight: 600;
                        border-radius: 7px;
                        border: none;
                    }
                    a._reject {
                        color: $second-text-muted;
                        text-align: center;
                        font-size: 17px;
                        font-weight: 600;
                        border-radius: 7px;
                    }
                }
                ._setting {
                    // margin-top: -70px;
                    ._tag {
                        color: white;
                        background-color: $second-text-muted;
                        font-size: 11px;
                        padding: 2px 10px;
                        font-weight: 500;
                        border-radius: 2px;
                    }
                }
                ._did-content {
                    width: 27vw;
                    ._card {
                        margin: 10px;
                        text-align: left;
                        width: 22vw;
                        min-height: 100px;
                        border: 2px solid $light-color;
                        padding: 15px;
                        border-radius: 15px;
                        ._tag {
                            color: white;
                            background-color: $second-text-muted;
                            font-size: 11px;
                            padding: 2px 10px;
                            font-weight: 500;
                            border-radius: 2px;
                        }
                        ._tag-active {
                            color: white;
                            background-color: $main-color;
                            font-size: 11px;
                            padding: 2px 10px;
                            font-weight: 500;
                            border-radius: 2px;
                        }
                        h5 {
                            font-size: 16px;
                            color: $second-text;
                            margin-bottom: 0;
                            font-weight: 500;
                        }
                        p {
                            font-size: 14px;
                            font-style: italic;
                            color: $second-text;
                            margin-bottom: 0;
                        }
                        i._icon-active {
                            font-size: 22.5px;
                            color: $main-color;
                        }
                        i._icon-inactive {
                            font-size: 22.5px;
                            color: $second-text-muted;
                        }
                    }
                }
                ._setting-items {
                    ._item {
                        text-align: left;
                    }
                    h4 {
                        font-size: 18px;
                        font-weight: 700;
                        margin-bottom: 0;
                    }
                    p {
                        margin-bottom: 0;
                    }
                    a._button-view {
                        background-color: transparent;
                        color: $main-color;
                        padding: 7px 25px;
                        font-size: 16px;
                        font-weight: 600;
                        font-family: "Poppins";
                        border: 2px solid $main-color;
                        border-radius: 5px;
                        transition: 0.3s;
                        &:hover {
                            background-color: $main-color;
                            color: white;
                        }
                    }
                }
                ._wizard {
                    width: 330px;
                    text-align: center;
                    height: 350px;
                    h4 {
                        font-size: 18px;
                        font-weight: 700;
                        margin-bottom: 0;
                    }
                    p {
                        margin-bottom: 0;
                    }
                    input {
                        text-align: center;
                        width: 200px;
                        padding: 10px 10px;
                    }
                    ._button-view {
                        width: 330px;
                        a {
                            width: 200px;
                            text-align: center;
                            padding: 10px 10px;
                            background-color: $main-color;
                            color: white;
                            font-weight: 600;
                            font-size: 17px;
                        }
                    }
                    ._btn-blue {
                        width: 200px;
                        text-align: center;
                        padding: 10px 10px;
                        background-color: $main-color;
                        color: white;
                        font-weight: 600;
                        font-size: 17px;
                    }
                    ._btn-copy {
                        width: 200px;
                        text-align: center;
                        padding: 10px 10px;
                        background-color: $second-text-muted;
                        color: white;
                        font-weight: 600;
                        font-size: 17px;
                    }
                    textarea._did-content {
                        font-size: 12px;
                        width: 250px;
                        height: 130px;
                    }
                    textarea._asymmetric-key {
                        font-size: 12px;
                        width: 250px;
                        height: 130px;
                    }
                    .success-animation {
                        margin-bottom: 20px;
                    }
                    .checkmark {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        display: block;
                        stroke-width: 2;
                        stroke: $main-color;
                        stroke-miterlimit: 10;
                        box-shadow: inset 0px 0px 0px $main-color;
                        animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
                        position: relative;
                        top: 5px;
                        right: 5px;
                        margin: 0 auto;
                    }
                    .checkmark__circle {
                        stroke-dasharray: 166;
                        stroke-dashoffset: 166;
                        stroke-width: 2;
                        stroke-miterlimit: 10;
                        stroke: $main-color;
                        fill: #fff;
                        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
                    }
                    .checkmark__check {
                        transform-origin: 50% 50%;
                        stroke-dasharray: 48;
                        stroke-dashoffset: 48;
                        animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
                    }
                }
                p._help {
                    font-size: 15px;
                    margin-bottom: 0;
                    a {
                        color: $main-color;
                        transition: .5s;
                        &:hover {
                            text-decoration: underline !important;
                        }
                    }
                }
            }
            ._menu-content {
                ul {
                    padding-left: 0;
                    li {
                        list-style: none;
                        margin-bottom: 25px;
                        a {
                            padding-bottom: 20px;
                            font-size: 40px;
                            color: white;
                            font-weight: 400;
                            transition: 0.3s;
                            &:hover {
                                border-bottom: 3px solid white;
                            }
                        }
                    }
                }
            }
            ._copyright {
                min-height: 6vh;
                a {
                    font-size: 18px;
                    font-weight: 600;
                }
                a._blue-color {
                    color: $main-color;
                }
                a._white-color {
                    color: white;
                }
            }
            a#copyright {
                font-size: 18px;
                font-weight: 600;
            }
            ._top-bar {
                min-height: 70px;
                ._back-button {
                    i {
                        color: $main-color;
                        font-size: 22px;
                    }
                    p {
                        color: $main-color;
                        font-size: 18px;
                        margin-bottom: 0 !important;
                        font-weight: 600;
                    }
                }
                ._more-button {
                    background-color: transparent;
                    border: none;
                    span {
                        border: 1px solid $main-color;
                        width: 30px;
                        height: 30px;
                        border-radius: 30px;
                    }
                    i {
                        color: $main-color;
                        font-size: 22px;
                    }
                }
                ._dropdown {
                    padding: 0;
                    border-color: $light-color;
                    padding: 0;
                    a {
                        padding: 7px 15px;
                        font-weight: 600;
                        &:hover {
                            background-color: $light-color;
                            transition: 0.4s;
                        }
                    }
                }
            }
            ._window {
                margin: 0;
                height: 60vh;
                min-height: 420px;
                width: 27vw;
                ._window-content {
                    width: 24vw;
                    max-height: 85%;
                    overflow: auto;
                    overflow-x: hidden !important;
                    border-radius: $ui-border-raduis;
                    border: 2px solid $light-color;
                    //padding: 10px;
                    &::-webkit-scrollbar {
                        width: 5px;
                        max-height: 100px;
                    }
                    &::-webkit-scrollbar-track {
                        background: $light-color;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #ccc;
                        border-radius: 5px;
                        max-height: 50px;
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background: $second-text;
                    }
                    &::-webkit-scrollbar-button {
                        height: 30px;
                    }
                    ._image {
                        width: 150px;
                        height: 150px;
                        background-color: $light-color;
                        background-position: center;
                        background-size: cover;
                    }
                    h5 {
                        font-size: 16px;
                        color: $second-text;
                        margin-bottom: 0;
                        font-weight: 500;
                        text-align: left;
                    }
                    p {
                        font-size: 14px;
                        font-style: italic;
                        color: $second-text;
                        margin-bottom: 0;
                        text-align: left;
                    }
                }
            }
        }
    }
}

//responsive stylesheet
// 29 inch Screen
@media only screen and (max-width: 3840px) {
    body {
        ._main {
            #widget {
                width: 600px;
                height: 1000px;
                min-height: 500px;
                ._toggle-menu {
                    height: 50px;
                    max-height: 50px;
                    min-height: 50px;
                }
                ._content {
                    border-radius: 0;
                    min-width: 600px;
                    min-height: 890px;
                    height: 890px;
                    border: none;
                    ._scrollable {
                        overflow: auto;
                        max-width: 550px;
                        min-width: 550px;
                        max-height: 780px;
                        ._card {
                            width: 400px;
                            min-height: 100px;
                        }
                    }
                    ._container {
                        max-width: 550px;
                        min-width: 550px;
                        max-height: 780px;
                        ._card {
                            width: 400px;
                        }
                    }
                    ._container-list {
                        margin: 0;
                        max-width: 550px;
                        min-width: 550px;
                        max-height: 780px;
                        ._window-content {
                            width: 500px;
                            min-height: 280px;
                            max-height: 280px;
                            //padding: 10px;
                        }
                    }
                }
                ._copyright {
                    min-height: 50px;
                }
                ._window {
                    margin: 0;
                    height: 900px;
                    min-height: 420px;
                    width: 600px;
                }
            }
        }
    }
}

// from 27 inch Screen
@media only screen and (max-width: 2560px) {
    body {
        ._main {
            #widget {
                height: 70vh;
                width: 27vw;
                min-height: 500px;
                ._toggle-menu {
                    height: 7vh;
                    max-height: 7vh;
                    min-height: 7vh;
                }
                ._content {
                    min-height: 56vh;
                    height: 56vh;
                    min-width: 27vw;
                    border-radius: 0;
                    border: none;
                    ._scrollable {
                        overflow: auto;
                        max-height: 48vh;
                        max-width: 25vw;
                        min-width: 25vw;
                        ._card {
                            width: 22vw;
                            min-height: 100px;
                        }
                    }
                    ._container {
                        max-height: 48vh;
                        max-width: 25vw;
                        min-width: 25vw;
                        ._card {
                            width: 22vw;
                        }
                    }
                    ._container-list {
                        max-height: 48vh;
                        max-width: 25vw;
                        min-width: 25vw;
                        ._window-content {
                            width: 500px;
                            min-height: 25vh;
                            max-height: 25vh;
                            //padding: 10px;
                        }
                    }
                }
                ._copyright {
                    min-height: 7vh;
                }
                ._window {
                    margin: 0;
                    height: 60vh;
                    min-height: 420px;
                    width: 27vw;
                }
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    body {
        ._main {
            justify-content: center !important;
            #widget {
                width: 60vw;
                height: 60vh;
                min-height: 500px;
                margin-left: 0;
                ._toggle-menu {
                    height: 7vh;
                    max-height: 7vh;
                    min-height: 7vh;
                }
                ._content {
                    min-width: 50vw;
                    min-height: 46vh;
                    height: 46vh;
                    border-radius: 0;
                    border: none;
                    ._scrollable {
                        overflow: auto;
                        width: 50vw;
                        max-width: 50vw;
                        max-height: 35vh;
                        ._card {
                            width: 38vw;
                            min-height: 100px;
                        }
                    }
                    ._container {
                        width: 50vw;
                        max-width: 50vw;
                        max-height: 35vh;
                        ._card {
                            width: 38vw;
                        }
                        ._button {
                            width: 25vw;
                        }
                    }
                    ._container-list {
                        width: 50vw;
                        max-width: 50vw;
                        max-height: 35vh;
                        ._window-content {
                            width: 50vw;
                            min-height: 25vh;
                            max-height: 25vh;
                            //padding: 10px;
                            ul {
                                width: 45vw;
                            }
                        }
                    }
                    ._did-content {
                        width: 60vw;
                        ._card {
                            margin: 10px;
                            text-align: left;
                            width: 50vw;
                            min-height: 100px;
                            border: 2px solid $light-color;
                            padding: 15px;
                            border-radius: 15px;
                            h5 {
                                font-size: 16px;
                                color: $second-text;
                                margin-bottom: 0;
                                font-weight: 500;
                            }
                            p {
                                font-size: 14px;
                                font-style: italic;
                                color: $second-text;
                                margin-bottom: 0;
                            }
                            i._icon-active {
                                font-size: 22.5px;
                                color: $main-color;
                            }
                            i._icon-inactive {
                                font-size: 22.5px;
                                color: $second-text-muted;
                            }
                        }
                    }
                }
                ._copyright {
                    min-height: 7vh;
                }
                ._window {
                    margin: 0;
                    height: 50vh;
                    min-height: 400px;
                    width: 60vw;
                    ._window-content {
                        width: 55vw;
                        max-height: 85%;
                        min-height: unset;
                    }
                }
                ._did-content {
                    ._card {
                        margin: 10px;
                        text-align: left;
                        width: 100vw;
                        min-height: 100px;
                        border: 2px solid $light-color;
                        padding: 15px;
                        border-radius: 15px;
                        h5 {
                            font-size: 16px;
                            color: $second-text;
                            margin-bottom: 0;
                            font-weight: 500;
                        }
                        p {
                            font-size: 14px;
                            font-style: italic;
                            color: $second-text;
                            margin-bottom: 0;
                        }
                        i._icon-active {
                            font-size: 22.5px;
                            color: $main-color;
                        }
                        i._icon-inactive {
                            font-size: 22.5px;
                            color: $second-text-muted;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    body {
        height: 100vh;
        max-height: 100vh;
        ._main {
            max-height: 100vh;
            min-height: 100vh;
            justify-content: center !important;
            --bs-gutter-x: 0 !important;
            --bs-gutter-y: 0 !important;
            #widget {
                width: 100vw;
                height: 100vh;
                min-height: 100vh;
                margin-left: 0;
                border-radius: 0;
                ._toggle-menu {
                    height: 7vh;
                    max-height: 7vh;
                    min-height: 7vh;
                }
                ._content {
                    border-radius: 0;
                    min-width: 100vw;
                    min-height: 86vh;
                    //min-height: 500px;
                    border: none;
                    ._scrollable {
                        overflow: auto;
                        width: 100vw;
                        min-height: 63vh;
                        //max
                        max-width: 100vw;
                        max-height: 63vh;
                        ._card {
                            width: 80vw;
                            min-height: 100px;
                        }
                    }
                    ._container {
                        width: 100vw;
                        min-height: 13vh;
                        max-width: 100vw;
                        max-height: 73vh;
                        ._card {
                            width: 80vw;
                        }
                        ._button {
                            width: 45vw;
                        }
                    }
                    ._container-list {
                        width: 100vw;
                        max-width: 100vw;
                        max-height: 35vh;
                        ._window-content {
                            width: 90vw;
                            min-height: 35vh;
                            max-height: 35vh;
                            //padding: 10px;
                            ul {
                                width: 90vw;
                            }
                        }
                    }
                    ._did-content {
                        width: 100vw;
                        ._card {
                            margin: 10px;
                            text-align: left;
                            width: 90vw;
                            min-height: 100px;
                            border: 2px solid $light-color;
                            padding: 15px;
                            border-radius: 15px;
                            h5 {
                                font-size: 16px;
                                color: $second-text;
                                margin-bottom: 0;
                                font-weight: 500;
                            }
                            p {
                                font-size: 14px;
                                font-style: italic;
                                color: $second-text;
                                margin-bottom: 0;
                            }
                            i._icon-active {
                                font-size: 22.5px;
                                color: $main-color;
                            }
                            i._icon-inactive {
                                font-size: 22.5px;
                                color: $second-text-muted;
                            }
                        }
                    }
                }
                ._copyright {
                    min-height: 7vh;
                }
                ._window {
                    margin: 0;
                    height: 90vh;
                    min-height: 420px;
                    width: 100vw;
                    ._window-content {
                        width: 95vw;
                        max-height: 85vh;
                        min-height: 85vh;
                    }
                }
                ._did-content {
                    ._card {
                        margin: 10px;
                        text-align: left;
                        width: 100vw;
                        min-height: 100px;
                        border: 2px solid $light-color;
                        padding: 15px;
                        border-radius: 15px;
                        h5 {
                            font-size: 16px;
                            color: $second-text;
                            margin-bottom: 0;
                            font-weight: 500;
                        }
                        p {
                            font-size: 14px;
                            font-style: italic;
                            color: $second-text;
                            margin-bottom: 0;
                        }
                        i._icon-active {
                            font-size: 22.5px;
                            color: $main-color;
                        }
                        i._icon-inactive {
                            font-size: 22.5px;
                            color: $second-text-muted;
                        }
                    }
                }
            }
        }
    }
}